[package]
name = "biggun"
version = "0.1.0"
edition = "2024"

[dependencies]
bevy = "0.17.3"
bevy_prototype_lyon = "0.15.0"
biggun_lib = { path = "../biggun_lib" }

[profile.dev]
opt-level = 1

[profile.dev.package."*"]
opt-level = 3

[profile.release]
codegen-units = 1
lto = "thin"
